
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:wght@300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
}

:root {
    --primary-text-color : #DE1A1A  ; 
    --secondary-text-color : #D78521; 
    --accent-color : #febb3d ; 
    --accent-color-dark : #fda501   ; 
    /* --padding-inline-section : 20px ;  */
}


body{
    font-family: "Poppins", sans-serif;
    color : var(--primary-text-color); 
}

li{
    font-weight:bold; 
}

p{
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color : var(--secondary-text-color); 
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    gap: 16px ;
}

.flex{
    display: flex;
    align-items: center;
}


.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: whitesmoke;
    box-shadow: 0 0 4px lightgoldenrodyellow;
    position: fixed;
    top: 0 ; 
    z-index: 99;
    left: 0 ;
    right: 0;
}

.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img{
    width: 100px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: var(--secondary-text-color);
}

.hover-link:active{
    color: var(--primary-text-color)
}

.nav-item.active {
    color: rgb(1, 33, 103);
}

.search-bar{
    height: 32px;
    gap: 8px ; 
}

.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid rgb(250, 189, 104);
    font-family: "Roboto", sans-serif;

}

.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    font-weight: 500;    
    font-family: "Roboto", sans-serif;

}

.search-button:hover{
    background-color: var(--accent-color-dark);
}

/* main section started  */

main{
    padding-block : 20px ; 
    margin-top : 100px ; 
}

.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 360px; 
    min-height: 400px;
    box-shadow: 0 0 4px lightgoldenrodyellow;
    border-radius: 4px;
    cursor: pointer;
    background-color: whitesmoke;
    overflow: hidden;
    transition: all 0.3sec ease;
}

.card:hover{
    box-shadow: 1px 1px 8px wheat;
    background-color:rgb(255, 247, 247);
    transform: translateY(-2px);
    border-radius: 4px;
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 18px; 
}

.news-source{
    margin-block: 12px;
}